# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
.env

# Jupyter
.ipynb_checkpoints/

# Logs and caches
*.log
*.tmp

# Build / distribution
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Project-specific
output/
